:root {
    --primary-color:#9FC131;
    --secondary-color:#F4630F;
    --accent1-color:#2273cf;
    --accent2-color: #FFFAF2;
    --accent3-color: #000000;
    --accent4-color: #4023e7;
    --background: rgba(64,35,231,0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a, p h1, h2, h3{
    font-family: "Inter";
}

/* header */

.navmenu {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #333;
	align-items: center;
    
    
}
.navmenu li {
	flex: 1 1 auto; 
}

.navmenu a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
    transition: all .2s ease-in-out; 
}

.navmenu a:hover {
	background-color: #3019b0;
    border-radius: 25px;
    transform: scale(.9);
}

h1 {
    display: grid;
    text-align: center;
    background-color: var(--accent4-color);
    color:white;
    font-size: 2rem;
    padding: 10px;
    /* font-family: "Inter"; */
}

/* body */

main {
    max-width: fit-content;
}

.mainbody {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px;
    padding: 3%;
    gap: 1%;

}


h2 {
    background-color: var(--accent1-color);
    color: white;
    text-align: center;
    border-radius: 14px 14px 0px 0px;
    font-size: 1.5rem;
    padding: 0.5rem;
    /* font-family: "Balsamiq Sans"; */
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Inter";
}


.card {
    margin-right: 6px;
    border: black 1px solid;
    border-radius: 15px;
    height: auto;
}

.flagP {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 10px; */
    padding: 20px;
    /* margin: 100px 10px 50px 10px; */
    justify-items: center;
}

.flag {
    width: 250px;
    height: auto;
    align-self: center;
}

.profile {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 10px;
}

.profile img {
    width: 80%;
    margin: 1rem;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    align-self: center;
}

.profile p {
    font-style: normal;
    font-size: 1.3rem;
    margin: 1rem;
    align-self: center;
}

/* do after flag */
.webdev {
    display: grid;
    gap: 10px;
    padding: 20px;
    margin: 100px 10px 50px 10px;
}

.webdev li a {
    padding: 0.5rem;
}

#cite {
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 20px;
}

/* #countryinfo {
    
} */

/* footer */


footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: var(--accent1-color);
    border-radius: 15px;
    padding: 15px;
    color: white;
  }
  







  .balsamiq-sans-regular {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .balsamiq-sans-bold {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .balsamiq-sans-regular-italic {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .balsamiq-sans-bold-italic {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  





  .inter {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  