:root {
    --primary-color:#9FC131;
    --secondary-color:#F4630F;
    --accent1-color:#2273cf;
    --accent2-color: #FFFAF2;
    --accent3-color: #000000;
    --accent4-color: #4023e7;
    --background: rgba(64,35,231,0.5);
}




nav {
	margin: 0 auto 2rem;
	max-width: 90vw;
}
.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #333;
	align-items: center;
}
.navigation li {
	flex: 1 1 auto; 
}

.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}
.mainbody {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px;
    padding: 3%;
}

main {
    /* border: black 1px solid; */
    /* border-left: black 1px solid;
    border-right: black 1px solid;
    border-bottom: black 1px solid; */

}

aside {
    /* border: black 1px solid; */
    border-left: black 1px solid;
    border-right: black1px solid;
    border-bottom: black 1px solid;
}

.aboutme {
    margin-right: 6px;
    border: black 1px solid;
    border-radius: 15px;
    height: auto;
}

.webdev {
    margin-left: 6px;
    height: auto;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: var(--accent1-color);
    border-radius: 15px;
    padding: 15px;
    color: white;
  }
  

h2 {
    background-color: var(--accent1-color);
    color: white;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

