@media(min-width: 40em) {
    #menu {
		display: none;
        
	}
    .album {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }

    .item img {
        width: 100%;
    }

    .navigation {
		flex-direction: row;
	}
	
	.navigation a {
        display: block;
		flex: 1 1 100%;
	}
	
}